body {
  background-color: #ffb3c1;
  font-family: Playwrite GB S;
}

.head-container {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.opening-con {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.img-img {
  width: 300px;
}

.img-details {
  width: 500px;
  font-size: small;
  text-align: center;
}

.opening-hr-con {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #003049;
  width: 1000px;
}

.navigation-link {
  background-color: #003049;
  padding: 5px;
  margin: 2px;
}

.navigation-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation-main-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #bde0fe;
}

.footer-main-con {
  font-size: small;
  background-color: lightcoral;
  padding: 10px;
  text-align: center;
}

.youtube-subs-btn-con {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscribe-button {
  border: none;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-radius: 50px;

  width: 100px;
}

.subscribe-button:hover {
  cursor: pointer;
}

.is-subscribed {
  background-color: rgb(240,240,240);
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.cost-input {
  font-size: 15px;
  padding: 10px;
}

.calculate-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
}

.click-a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: blue;
}

.l10exe {
   margin-top: 40px;
   margin-bottom: 40px;
}

.l10exe-title {
  font-size: large;
}

.l10-cart {
  margin-bottom: 20px;
  background-color: rgb(255,216,20);
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
}

.l10-request {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.l10-schedule {
   background-color: rgb(230, 230, 230);
   border: none;
   padding: 10px 15px;
   border-radius: 10px;
}

.l10d {
 margin: 20px 0px;
}

.toggle-button , .toggle-button2 , .toggle-button3 {
  border: none;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.rock {
  margin-top: 60px;
}

.calculator-con {
  margin-top: 30px;
  background-color: black;
  width: 250px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}


.calculator-screen {
  border: 2px solid black;
  width: 220px;
  text-align: center;
  font-size: 40px;
  color: white;
}


.cal-btn, .operator-btn {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.clear-btn {
  padding: 15px 7px;
  border-radius: 100px;
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
}

.operator-btn {
  background-color: rgb(254, 160, 10);
}


