body {
  background-color: beige;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

body, div, a, button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.l4-container {
  background-color: pink;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.l4-main-container {
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.l4b-main {
  margin-top: 10px;
}

.l4e-add {
  background-color: yellow;
  border: 1px solid black;
}

.l4e-buy {
  background-color: orange;
  border: 1px solid black;
}

.l4e-buy:hover , .l4e-add:hover {
  cursor: pointer;
}

.l4i-main {
  margin-top: 30px;
  width: 500px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #cdb4db;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.l4i-add , .l4i-buy {
  margin-top: 10px;
}

.l4i-add:hover , .l4i-buy:hover {
  cursor: pointer;
}

.l4i-add:active , .l4i-buy:active {
  opacity: 0.5;
}

.l4i-add {
  background-color: yellow;
}

.l4i-buy {
  background-color: orange;
}

.nav-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
}

.nav-caption {
  text-align: center;
  font-size: large;
}

#options, #home {
  background-color: black;
  color: white;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
}

.nav-home-btn {
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.nav-home-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

.head-container {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

nav button {
  background-color: black;
  color: white;
  font-size: medium;
}

nav button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.l4e-add, .l4e-buy , .l4i-add, .l4i-buy {
  color: black;
}

.navigation-main-con {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.l4i-img {
   width: 500px;
   height: 200px;
   object-fit: cover;
   border-radius: 10px;
}

.l4i-img-con {
  margin-bottom: 10px;
}

.l4i-item-name, .l4i-item-price {
  text-align: start;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.l4i-item-price {
  color: rgb(78, 78, 78);
  padding-top: 0;
}

.l4i-item-details {
  text-align: start;
  padding-left: 10px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: gray;
}

.l4i-item-con {
  background-color: whitesmoke;
  margin-top: -10px;
  width: 520px;
}